/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/home.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.home_home__V2h4G {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 75vh;
  background-color: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.168627451);
  border-radius: 32px;
  overflow: hidden;
  z-index: 1;
}
.home_home__V2h4G .home_images__j5JtW {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_home__V2h4G .home_images__j5JtW #home_bulb_img__8o2AK {
  z-index: 1;
  border-radius: 50%;
}
.home_home__V2h4G .home_images__j5JtW #home_bulb_img__8o2AK.home_active__NY1cZ {
  filter: grayscale(1);
}
.home_home__V2h4G .home_images__j5JtW #home_quiz_img__QZipb {
  position: absolute;
  bottom: -80%;
  z-index: 1;
}
.home_home__V2h4G .home_images__j5JtW #home_quiz_img__QZipb.home_active__NY1cZ {
  filter: grayscale(1);
}
.home_home__V2h4G h1 {
  margin: 60px 10px 30px;
  color: hsl(0, 0%, 100%);
  text-align: center;
  text-shadow: 0 0 10px #17DEE3;
}
.home_home__V2h4G a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  padding: 8px 32px;
  color: #FFF;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 8px;
  font-size: 120%;
  transition: 200ms;
  margin-top: 15px;
  min-width: 300px;
  text-align: center;
}
.home_home__V2h4G a:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
}
.home_home__V2h4G a:active {
  transition: 0s;
  background-color: hsla(0, 0%, 100%, 0.1);
}

@media screen and (max-width: 700px) {
  .home_home__V2h4G {
    height: 100%;
    border-radius: 0;
  }
}
