/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/quiz2/quiz.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.quiz_quiz__c8IyH {
  width: 800px;
  height: 600px;
  padding: 10px;
  background-color: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.168627451);
  border-radius: 32px;
  overflow: hidden;
  z-index: 1;
}
.quiz_quiz__c8IyH.quiz_hidden__9U6NO {
  display: none;
}

.quiz_quiz_header__wWBCx {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quiz_quiz_answers__ogD_C {
  width: 100%;
  height: 50%;
}

.quiz_quiz_answers__ogD_C ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 35px;
  padding: 35px;
}

.quiz_quiz_answers__ogD_C li {
  width: 100%;
  height: 100%;
  position: relative;
}

.quiz_hoverArea__ckyfg {
  width: 300px;
  height: 300px;
  display: none;
  position: absolute;
  background: radial-gradient(rgba(255, 255, 255, 0.2823529412) 0%, transparent 75%);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.quiz_quiz_answers__ogD_C li label {
  width: 100%;
  height: 100%;
  display: block;
  background-image: radial-gradient(hsla(0, 0%, 100%, 0.1) 50%, hsla(0, 0%, 100%, 0.2) 100%);
  border-radius: 8px;
  transition: 150ms;
  overflow: hidden;
  font-size: 110%;
  cursor: pointer;
}
.quiz_quiz_answers__ogD_C li label:hover {
  background-color: hsla(0, 0%, 100%, 0.025);
  transform: scale(1.02);
}
.quiz_quiz_answers__ogD_C li label:hover .quiz_hoverArea__ckyfg {
  display: block;
}
.quiz_quiz_answers__ogD_C li label:active {
  transition: 0s;
  background-color: hsla(0, 0%, 100%, 0.1);
  transform: scale(0.98);
}
.quiz_quiz_answers__ogD_C li label input:checked {
  box-shadow: inset 0 0 10px #FFF;
}
.quiz_quiz_answers__ogD_C li label input:checked:hover {
  background-color: hsla(0, 0%, 100%, 0.05);
}
.quiz_quiz_answers__ogD_C li label input:checked:active {
  transition: 0s;
  background-color: hsla(0, 0%, 100%, 0.1);
}
.quiz_quiz_answers__ogD_C li label input.quiz_correct__i3A_t {
  box-shadow: inset 0 0 10px #17DEE3;
}
.quiz_quiz_answers__ogD_C li label input.quiz_incorrect__LYSoB {
  box-shadow: inset 0 0 10px hsl(0, 100%, 63%);
}
.quiz_quiz_answers__ogD_C li label input::before {
  content: "";
  width: 35px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 10%;
  box-shadow: inset 0 0 5px hsla(0, 0%, 0%, 0.5);
  border-radius: 50%;
  font-size: 120%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  aspect-ratio: 1;
}
.quiz_quiz_answers__ogD_C li label input:checked::before {
  box-shadow: inset 0 0 5px #FFF;
}
.quiz_quiz_answers__ogD_C li label input.quiz_correct__i3A_t::before {
  content: "✔";
  color: #17DEE3;
  text-shadow: 0 0 5px #17DEE3;
  box-shadow: inset 0 0 5px #17DEE3;
}
.quiz_quiz_answers__ogD_C li label input.quiz_incorrect__LYSoB::before {
  content: "✗";
  color: hsl(0, 100%, 63%);
  text-shadow: 0 0 5px hsl(0, 100%, 63%);
  box-shadow: inset 0 0 5px hsl(0, 100%, 63%);
}

.quiz_quiz_answers__ogD_C li label span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3% 10% 3% 20%;
}

.quiz_quiz_answers__ogD_C li input[type=radio] {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  pointer-events: none;
  transition: 150ms;
  cursor: pointer;
}

.quiz_quiz_submit__S3VSR {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz_quiz_submit__S3VSR button {
  width: 40%;
  min-height: 40px;
  padding: 0 10px;
  background-image: radial-gradient(hsla(0, 0%, 100%, 0.1) 50%, hsla(0, 0%, 100%, 0.2) 100%);
  box-shadow: inset 0 0 5px hsla(0, 0%, 0%, 0.5);
  border-radius: 8px;
  font-size: 130%;
  transition: 200ms;
}
.quiz_quiz_submit__S3VSR button:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
  transform: scale(1.02);
}
.quiz_quiz_submit__S3VSR button:active {
  transition: 0s;
  background-color: hsla(0, 0%, 0%, 0.1);
  transform: scale(0.98);
}

.quiz_quiz_end__0QK5c {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 75vh;
  padding: 10px;
  background-color: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.168627451);
  border-radius: 32px;
  overflow: hidden;
  z-index: 1;
}
.quiz_quiz_end__0QK5c.quiz_visible__1N1tZ {
  display: flex;
}

.quiz_quiz_end_header__mWA2h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.quiz_quiz_end_header__mWA2h img {
  filter: drop-shadow(0 0 5px #17DEE3);
}
.quiz_quiz_end_header__mWA2h p:nth-child(2) {
  color: hsl(0, 0%, 100%);
  font-size: 250%;
  font-weight: 800;
  text-shadow: 0 0 5px #17DEE3;
}
.quiz_quiz_end_header__mWA2h p:nth-child(3) {
  font-size: 110%;
  color: #FFF;
}

.quiz_quiz_end_footer__pzHQZ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.quiz_quiz_end_footer__pzHQZ p:nth-child(1) {
  color: hsl(0, 0%, 100%);
  font-size: 175%;
  font-weight: 700;
  text-shadow: 0 0 5px #17DEE3;
}
.quiz_quiz_end_footer__pzHQZ p:nth-child(2) {
  color: #FFF;
  font-size: 250%;
  text-shadow: 0 0 5px #17DEE3;
}
.quiz_quiz_end_footer__pzHQZ p:nth-child(3) {
  font-size: 120%;
  text-align: center;
  font-weight: 600;
}

#quiz_paragraph_s0__wm3DE {
  color: hsl(0, 100%, 63%);
}

#quiz_span_q__HQd6a {
  color: #FFF;
}

#quiz_span_a__2CCu5 {
  color: #17DEE3;
}

#quiz_span_a0__jqUSs {
  color: hsl(0, 100%, 63%);
}

.quiz_confetti__Hcto3 {
  width: 100%;
  height: 50vh;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transition: 200ms;
}
.quiz_confetti__Hcto3.quiz_active__972Vs {
  opacity: 1;
  visibility: visible;
}

.quiz_confetti_piece__92dgI {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.quiz_confetti_piece__92dgI:nth-child(1) {
  left: 7%;
  transform: rotate(55deg);
  animation: quiz_makeItRain__JBZoE 600ms infinite ease-out;
  animation-delay: 159ms;
  animation-duration: 544ms;
}
.quiz_confetti_piece__92dgI:nth-child(2) {
  left: 14%;
  transform: rotate(58deg);
  animation: quiz_makeItRain__JBZoE 600ms infinite ease-out;
  animation-delay: 181ms;
  animation-duration: 457ms;
}
.quiz_confetti_piece__92dgI:nth-child(3) {
  left: 21%;
  transform: rotate(-75deg);
  animation: quiz_makeItRain__JBZoE 600ms infinite ease-out;
  animation-delay: 55ms;
  animation-duration: 636ms;
}
.quiz_confetti_piece__92dgI:nth-child(4) {
  left: 28%;
  transform: rotate(26deg);
  animation: quiz_makeItRain__JBZoE 600ms infinite ease-out;
  animation-delay: 282ms;
  animation-duration: 707ms;
}
.quiz_confetti_piece__92dgI:nth-child(5) {
  left: 35%;
  transform: rotate(69deg);
  animation: quiz_makeItRain__JBZoE 600ms infinite ease-out;
  animation-delay: 75ms;
  animation-duration: 663ms;
}
.quiz_confetti_piece__92dgI:nth-child(6) {
  left: 42%;
  transform: rotate(-59deg);
  animation: quiz_makeItRain__JBZoE 600ms infinite ease-out;
  animation-delay: 162ms;
  animation-duration: 691ms;
}
.quiz_confetti_piece__92dgI:nth-child(7) {
  left: 49%;
  transform: rotate(47deg);
  animation: quiz_makeItRain__JBZoE 600ms infinite ease-out;
  animation-delay: 267ms;
  animation-duration: 461ms;
}
.quiz_confetti_piece__92dgI:nth-child(8) {
  left: 56%;
  transform: rotate(-61deg);
  animation: quiz_makeItRain__JBZoE 600ms infinite ease-out;
  animation-delay: 9ms;
  animation-duration: 578ms;
}
.quiz_confetti_piece__92dgI:nth-child(9) {
  left: 63%;
  transform: rotate(-43deg);
  animation: quiz_makeItRain__JBZoE 600ms infinite ease-out;
  animation-delay: 156ms;
  animation-duration: 589ms;
}
.quiz_confetti_piece__92dgI:nth-child(10) {
  left: 70%;
  transform: rotate(-76deg);
  animation: quiz_makeItRain__JBZoE 600ms infinite ease-out;
  animation-delay: 59ms;
  animation-duration: 662ms;
}
.quiz_confetti_piece__92dgI:nth-child(11) {
  left: 77%;
  transform: rotate(78deg);
  animation: quiz_makeItRain__JBZoE 600ms infinite ease-out;
  animation-delay: 249ms;
  animation-duration: 520ms;
}
.quiz_confetti_piece__92dgI:nth-child(12) {
  left: 84%;
  transform: rotate(-13deg);
  animation: quiz_makeItRain__JBZoE 600ms infinite ease-out;
  animation-delay: 230ms;
  animation-duration: 501ms;
}
.quiz_confetti_piece__92dgI:nth-child(13) {
  left: 91%;
  transform: rotate(7deg);
  animation: quiz_makeItRain__JBZoE 600ms infinite ease-out;
  animation-delay: 87ms;
  animation-duration: 489ms;
}
.quiz_confetti_piece__92dgI:nth-child(odd) {
  background: #17d3ff;
}
.quiz_confetti_piece__92dgI:nth-child(even) {
  z-index: 1;
}
.quiz_confetti_piece__92dgI:nth-child(4n) {
  width: 5px;
  height: 12px;
  animation-duration: 1200ms;
}
.quiz_confetti_piece__92dgI:nth-child(3n) {
  width: 3px;
  height: 10px;
  animation-duration: 1500ms;
  animation-delay: 600ms;
}
.quiz_confetti_piece__92dgI:nth-child(4n-7) {
  background: #ff4e91;
}

@keyframes quiz_makeItRain__JBZoE {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(50vh);
  }
}
@media screen and (max-width: 700px) {
  .quiz_quiz__c8IyH {
    min-height: 100vh;
    height: auto;
    border-radius: 0;
  }
  .quiz_quiz_answers__ogD_C ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
